<h1 mat-dialog-title>Add User</h1>
<div mat-dialog-content>
    <div>
        <mat-form-field class="mr_16" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput placeholder="Last Name">
            <!-- <mat-hint>Please enter a name</mat-hint> -->
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="width_100" appearance="outline">
            <mat-label>Birth Date</mat-label>
            <input matInput placeholder="Birth Date" [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <!-- <mat-hint>Please enter last date</mat-hint> -->
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="mr_16" appearance="outline">
            <mat-label>Street</mat-label>
            <input matInput placeholder="Street">
            <!-- <mat-hint>Please enter a Street</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>House No.</mat-label>
            <input matInput placeholder="House No.">
            <!-- <mat-hint>Please enter a House No.</mat-hint> -->
        </mat-form-field>
    </div>
    <div>
        <mat-form-field class="mr_16" appearance="outline">
            <mat-label>Zip Code</mat-label>
            <input matInput placeholder="Zip Code">
            <!-- <mat-hint>Please enter a Zip Code</mat-hint> -->
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label>City</mat-label>
            <input matInput placeholder="City">
            <!-- <mat-hint>Please enter a City</mat-hint> -->
        </mat-form-field>
    </div>

</div>
<div mat-dialog-actions>
    <button mat-button>Cancel</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>Save</button>
</div>