.user_detail_header {
    min-height: 250px;
    background-color: red;
    color: white;
    display: flex;
    align-items: flex-end;

    img {
        height: 100px;
        width: 100px;
        border-radius: 100%;
        object-fit: contain;
    }
}

.user_details {
    margin-left: 32px;
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100px;

    h2,
    h3 {
        margin: 0;
    }
}

.pin_right_upper_corner {
    position: absolute;
    top: 0;
    right: 0;
}