<mat-card>
    <table class="user_table">
        <tr>
            <th>Name</th>
            <th>Birthdate</th>
            <th>City</th>
        </tr>
        <tr *ngFor="let user of allUsers">
            <td>{{user.lastName}},{{user.firstName}}</td>
            <td>{{user.birthDate}}</td>
            <td>c</td>
        </tr>
    </table>
</mat-card>
<button (click)="openDialog()" matTooltip="Add new User" class="add_user_btn" mat-fab color="primary"
    aria-label="Example icon button with a delete icon">
    <mat-icon>add</mat-icon>
</button>